<ion-content [fullscreen]="true">
  <div class="header">
      <ion-title class="title">Welcome</ion-title>
    <p class="subTitle">Sign Up to create account</p>
  </div>
  
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="regInfo.name" name="name" class="input" placeholder="Enter name"></ion-input>
        <ion-icon slot="start" color="dark" name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="regInfo.email" name="email" class="input" type="email" placeholder="Enter email"></ion-input>
        <ion-icon slot="start" color="dark" name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="regInfo.phoneNumber" name="phoneNumber" class="input" type="tel" placeholder="Enter phone number"></ion-input>
        <ion-icon slot="start" color="dark" name="call-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="regInfo.password1" name="password1" class="input" type="password" value="" placeholder="Enter password"></ion-input>
        <ion-icon slot="start" color="dark" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="regInfo.password2" name="password2" class="input" type="password" value="" placeholder="Confirm password"></ion-input>
        <ion-icon slot="start" color="dark" name="lock-closed-outline"></ion-icon>
      </ion-item>
        <ion-button (click)="saveInfo()" size="large" color="danger" shape="round" expand="block" [routerLink]="['/home']">Sign Up</ion-button>
      <div class="signInLink">
        <p> Already a Member? <a style="color: #9D0A10;" [routerLink]="['/login']">Sign In</a></p>
      </div>
    </div>
  </form>
  </ion-content>
  