<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Appointments</ion-title>
    <ion-buttons slot="end" mode="md" [routerLink]="['/home']">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header size="large" color="danger">Booked Appointment for: {{appointmentData.name}}</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p><strong> <ion-text>Date: </ion-text></strong>
            {{appointmentData.date}}</p>
          <p><strong><ion-text>Phone Number: </ion-text></strong>
            {{appointmentData.phoneNumber}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button fill="clear">
      <ion-icon slot="start" name="create-outline" color="danger"></ion-icon>
      Edit
     </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="start" name="trash-outline" color="danger"></ion-icon>
      Delete
    </ion-button>
  </ion-card>
</ion-content>
